@import "./../../Main.scss";

.boxRow {
    display: flex;
}

.playField {
    display: flex;
    margin-top: 2%;
    padding-left: 9%;
    padding-right: 9%;
    justify-content: space-between;
    text-align: center;
}

.playerSideActive {
    border: 2px solid $hoverCircle;
    margin-bottom: 3%;
}

.playerSide {
    border: 2px solid $gridColor;
    margin-bottom: 3%;
}

.square {
    width: $boxSize;
    height: $boxSize;
    background: $gridColor;
    border: 1px solid $borderColor;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.horizontal {
    border: 5px solid blue;
    border-radius: 10%;
    width: $boxSize;
    height: $boxSize/3;
    margin-left: $boxSize/2;
    position: absolute;
    z-index: 2;
}

.vertical {
    border: 5px solid blue;
    border-radius: 10%;
    width: $boxSize/3;
    height: $boxSize;
    margin-top: $boxSize/2;
    position: absolute;
    z-index: 2;
}

.hs {
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-left: 5px solid blue;
    border-radius: 10%;
    width: $boxSize/2;
    height: $boxSize/3;
    margin-left: $boxSize/4;
    position: absolute;
    z-index: 2;
}

.he {
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;
    border-radius: 10%;
    width: $boxSize/2;
    height: $boxSize/3;
    margin-left: -($boxSize/4);
    position: absolute;
    z-index: 2;
}

.vs {
    border-top: 5px solid blue;
    border-right: 5px solid blue;
    border-left: 5px solid blue;
    border-radius: 10%;
    width: $boxSize/3;
    height: $boxSize/2;
    margin-top: $boxSize/4;
    position: absolute;
    z-index: 2;
}

.ve {
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;
    border-left: 5px solid blue;
    border-radius: 10%;
    width: $boxSize/3;
    height: $boxSize/2;
    margin-top: -($boxSize/4);
    position: absolute;
    z-index: 2;
}

.o {
    background-color: $hoverCircle;
    border-radius: 50%;
    width: $boxSize/2;
    height: $boxSize/2;
}

.focus {
    border: 5px solid $hoverCircle;
    border-radius: 50%;
    width: $boxSize/2;
    height: $boxSize/2;
}

.x { 
    font-size: $boxSize/2;
    color: $hoverCircle;
}

.settingInfo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gameInfo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status{
    margin-top: 2%;
    font-size: 25px;
    text-align: center;
}

.playerMessage {
    min-height: 21px;
    color: red;
}

.restartWrapper{
    display: flex;
    justify-content: center;
}