$gridColor: #e0e0e0;
$borderColor: #bdbdbd;
$hoverCircle: #373737;
$buttonBorder: #9c8d8d;
$navColor: #24292e;
$boxSize: 60px;

.smallButton {
    color: $hoverCircle;
    padding: 5px;
    border-radius: 10%;
    border: 2px solid $buttonBorder;
    display: flex;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.smallButton:hover {
    border: 2px solid $hoverCircle;
}

.disabledSmallButton {
    color: $hoverCircle;
    padding: 5px;
    border-radius: 10%;
    border: 2px solid $gridColor;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.smallIcon {
    margin-right: 2px;
}

.button {
    color: $hoverCircle;
    padding: 10px;
    border-radius: 10%;
    border: 2px solid $buttonBorder;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    border: 2px solid $hoverCircle;
}

.icon {
    margin-right: 4px;
}